---
name: Build and Release PDF

on:
  pull_request_target:
  push:
    tags:
      - '*'

permissions:
  contents: write

jobs:
  build-and-release-pdf:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: smkwlab/latex-release-action@v3.1.0
        env:
          GH_TOKEN: ${{ github.token }}
        with:
          files: main
          cleanup: true
